@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    font-family: 'DynaPuff', cursive;

}

    body{
        background-image: linear-gradient(to right, #F7F26F, #757335 );

    }

    main{
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 15px #5c5a24; 
        width: 600px;
        margin: auto;
        padding: 10px;

        
    }

    h1{
        font-family: 'Silkscreen', cursive;

        text-align: center;
        text-shadow: 1px 1px 2px;
    }

    h2{
        font-family: 'Rubik Maze', cursive;
        text-align: center;

        
    }


